.THIS .slds-modal__container{
	width: 80% !important;
	max-width: 80% !important;
}

.THIS .slds-modal{
	width: 80% !important;
	max-width: 80% !important;
}

.THIS.sldx-box {
    border:4px solid blue;    
}

.THIS.sldx-box_level1 {
    border:1px;
}

.THIS.sldx-box_level2 {
    border:2px;
}

.THIS.sldx-box_level3 {
    border:3px;
}

.THIS.sldx-box_level4 {
    border:4px;
}

.THIS.sldx-box_level5 {
    border:5px;
}

.THIS.sldx-box_level8 {
    border:8px;
}